# template which is committed to git
# need actual .env

# app config
APP_NAME = TradeLab
APP_VERSION = 0.1.0

# server config
DEBUG = True
HOST = 0.0.0.0
PORT = 8000

# db config
DATABASE_URL = postgresql://postgres:postgres@db:5432/tradelab